.contact-card {
    width: 10em;
    height:10em;
    background-color: white;
    box-shadow: 10px 15px 30px rgb(0 0 0 / 18%);
}

.contact-card:hover {
    background-color: #cabbd4;
    transition: 0.3s;
}
.contact-card img {
    position: relative;
    max-width:80%;
    max-height: 80%;
    margin: auto;
    padding-top: 15%;

}

#easter p {
    color: white;
}
#easter h4 {
    color: #887497;
}

/* * {
    border: 1px dotted red;
} */

#faq p {
    padding-left: 3em;
}

#footer img {
    max-width:20em;
}

#add-ons ul {
    list-style-type:none
}
#add-ons i {
    padding-right: 0.5em;
    color: #887497;
}

#easter .btn-book {
    margin-top: 1em;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 0 10px;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    color: #fff;
    border: 2px solid #887497;
  }
  
  #easter .btn-book:hover {
    background: #887497;
    color: #fff;
  }

  section {
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 60px;
    padding-left: 0px;
  }